# File
tools.md
file.txt
file1.txt
newFile.txt
rewrite.js
creaRighe.js
creaImage.js
creaJson.js
rewrite.js
test.js
Categories/creaScrenshot.js
Categories/creaScreens.js

# Cartella
filedalavorare/
node_modules/
